<%- include("./header", {title: "Dashboard" }) %>
        <div class="right_col" role="main">
            <div class="clearfix"></div>
              <div class="col-md-6">
                <div class="x_panel">
                  <div class="x_title">
                    <h2><%=data.product.name%></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <br />
<div class="row">
    <div class="col-lg-4">
      <div class="card shadow mb-4">
        <ul class="list-group list-group-flush" style="font-size: 1.2rem;">
		<img class="card-img-top" style="width: 100%; height: 200px;" id="preview" style="width: 100px; height: 100px;" src="/public/products_images/<%=data.product.id%>/<%=data.product.image%>">
        </ul>
      </div>
    </div>

        <form id="upload-image-form" action="/admin/dashboard/productos/<%=data.product.id%>" method="post" enctype="multipart/form-data">
          <div id="image-preview-div" style="display: none">
            <label for="exampleInputFile">Selected image:</label>
            <br>
          </div>
          <div class="form-group">
          	Imagen
            <input type="file" name="file" id="file">
          </div>
          <div class="form-group">
          	Nombre
            <input type="text" name="name" value="<%=data.product.name%>" placeholder="name">
          </div>
          <div class="form-group">
          	Descripcion
            <textarea type="text" name="description" placeholder="description"><%=data.product.description%></textarea>
          </div>
          <div class="form-group">
          	Precio
            <input type="number" name="price" value="<%=data.product.price%>" placeholder="price">
          </div>
          <div class="form-group">
          	Descuento
            <input type="number" name="discount" value="<%=data.product.discount%>" placeholder="discount" value="">
          </div>
          <div class="form-group">
          	ID del Producto
            <input type="text" name="product_id" id="product_id" value="<%=data.product.product_id%>" placeholder="product_id" required>
          </div>
          <div class="form-group">
          	Stock
            <input type="number" name="stock" id="stock" value="<%=data.product.stock%>" placeholder="stock" required>
          </div>
          <button class="btn btn-lg btn-primary" id="upload-button" type="submit">Upload</button>
        </form>
</div>
</div></div></div></div>

<script>
	var file_input = document.getElementById("file");
	file_input.onchange = function(e) {
  let reader = new FileReader();
  reader.readAsDataURL(e.target.files[0]);

  reader.onload = () => {
  	var image = $('#preview');
    image.attr('src', reader.result);
  };
}
</script>
<%- include("./footer") %>