<%- include("./menu", {title: 'cart' }) %>
<%=console.log(req.session);%>
    <div class="bg-light py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0"><a href="/">Inicio</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Carrito</strong></div>
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">
        <div class="row mb-5">
          <form class="col-md-12" method="post">
            <div class="site-blocks-table">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th class="product-thumbnail">Image</th>
                    <th class="product-name">Product</th>
                    <th class="product-price">Price</th>
                    <th class="product-quantity">Quantity</th>
                    <th class="product-remove">Remove</th>
                  </tr>
                </thead>
                <tbody>
                  <%
                  var subtotal = 0;
                  var item = 0;
                    data.products.forEach(product =>  {
                      subtotal = subtotal + (+product.product.price * +product.quantity);
                  %>
                    <tr>
                      <td class="product-thumbnail">
                        <img src="/public/products_images/<%=product.product.id%>/<%=product.product.image%>" alt="<%=product.product.name%>" class="img-fluid">
                      </td>
                      <td class="product-name">
                        <h2 class="h5 text-black"><%=product.product.name%></h2>
                      </td>
                      <% if (product.quantity === 1) { -%>
                        <td>$<%=+product.product.price%>)</td>
                      <% } else { -%>
                        <td>$<%=+product.product.price * +product.quantity%> ($<%=product.product.price%> x <%=product.quantity%>)</td>
                      <% } -%>
                      <td>
                        <div class="input-group mb-3" style="max-width: 120px;">
                          <%=product.quantity%>
                        </div>

                      </td>
                      <td><a href="/shop/cart/delete/<%=item%>" class="btn btn-primary btn-sm">X</a></td>
                    </tr>
                  <%  item++;
                    });
                  %>
                </tbody>
              </table>
            </div>
          </form>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="row mb-5">
              <div class="col-md-6">
                <a href="/shop" class="btn btn-outline-primary btn-sm btn-block">Seguir Comprando</a>
              </div>
            </div>
          </div>
          <div class="col-md-6 pl-5">
            <div class="row justify-content-end">
              <div class="col-md-7">
                <div class="row">
                  <div class="col-md-12 text-right border-bottom mb-5">
                    <h3 class="text-black h4 text-uppercase">Cart Totals</h3>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-md-6">
                    <span class="text-black">Subtotal</span>
                  </div>
                  <div class="col-md-6 text-right">
                    <strong class="text-black">$<%=subtotal%></strong>
                  </div>
                </div>
                <div class="row mb-5">
                  <div class="col-md-6">
                    <span class="text-black">Total</span>
                  </div>
                  <div class="col-md-6 text-right">
                    <strong class="text-black">$<%=subtotal%></strong>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <button class="btn btn-primary btn-lg py-3 btn-block" onclick="window.location='/cart/checkout'">Proceder a Pagar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


<%- include("./footer") %>