<%- include("./menu", {title: "Ecommerce" }) %>
    <div class="bg-light py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0"><a href="/">Inicio</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Tienda</strong></div>
        </div>
      </div>
    </div>




    <div class="site-section">
      <div class="container">

        <div class="row mb-5">
          <div class="col-md-9 order-2">

            <div class="row mb-5">
            <%data.rows.forEach(product => { %>
              <div class="col-sm-6 col-lg-4 mb-4 product-item" data-aos="fade-up" category="<%=product.category_0%>">
                <div class="block-4 text-center border">
                  <figure class="block-4-image">
                    <a href="shop-single.html"><img src="/public/products_images/<%=product.id%>/<%=product.image%>" alt="<%=product.name%>" class="img-fluid"></a>
                  </figure>
                  <div class="block-4-text p-4">
                    <h3><a href="shop-single.html"><%=product.name%></a></h3>
                    <p class="mb-0"><%=product.description%></p>
                    <p class="text-primary font-weight-bold" id="price">$<%=product.price%></p>
                    <%data.categories.forEach(category => { %>
                      <% if (+category.id === +product.category_0) { -%>
                        <a href="#site-section" class="category_item" category="<%=category.id%>"><span><%=category.name%></span></a>
                      <% } -%>
                    <%})%>
                  </div>
                </div>
              </div>

            <%})%>

            </div>
          </div>

          <div class="col-md-3 order-1 mb-5 mb-md-0">
            <div class="border p-4 rounded mb-4">
              <h3 class="mb-3 h6 text-uppercase text-black d-block">Filtrar por Categorías</h3>
              <ul class="list-unstyled mb-0 category_list">
                <%data.categories.forEach(category => { %>
                  <li class="mb-1"><a href="#site-section" class="d-flex category_item" category="<%=category.id%>"><span><%=category.name%></span></a></li>
                <%})%>
                  <li class="mb-1"><a href="#site-section" class="d-flex category_item" category="all"><span>Todos</span></a></li>
              </ul>
            </div>

            <div class="border p-4 rounded mb-4">
              <div class="mb-4">
                <h3 class="mb-3 h6 text-uppercase text-black d-block">Filtrar por Precio</h3>
                <div id="slider-range" class="border-primary"></div>
                <input type="text" name="text" id="amount" class="form-control border-0 pl-0 bg-white" disabled="" />
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>



<%- include("./footer") %>



<script>
  var siteSliderRange = function() {
    $( "#slider-range" ).slider({
      range: true,
      min: <%=data.prices.min - 100%>,
      max: <%=data.prices.max + 100%>,
      values: [ <%=data.prices.min - 100%>, <%=data.prices.max + 100%> ],
      slide: function( event, ui ) {
        valor();
        $( "#amount" ).val( "$" + ui.values[ 0 ] + " - $" + ui.values[ 1 ] );
      }
    });
    $("#amount").val( "$" + $( "#slider-range" ).slider( "values", 0 ) +
      " - $" + $( "#slider-range" ).slider( "values", 1 ) );
  };
  siteSliderRange();

  function valor() {
    var prices = $('p[id*="price"]').text();
    var prices = prices.split('$').slice(1);
    prices.forEach(price => {
      if(+price < $( "#slider-range" ).slider( "values", 0 ) || +price > $( "#slider-range" ).slider( "values", 1 )){
        $('p[id*="price"]:contains('+price+')').parent().parent().parent().hide(1000);
      }else {
        $('p[id*="price"]:contains('+price+')').parent().parent().parent().show(1000);
      }
    })
  }

/*  function categories(category) {
    if(category === "all"){
        return $('a[id*="categoria_producto"]').parent().show(1000);
    }
    var items = $('a[id*="categoria_producto"]').text();
    var items_2 = $('p[id*="price"]').parent().parent().parent().children('#categoria_producto');
    for (var i = items_2.length - 1; i >= 0; i--) {
      console.log(+items_2[i].text === +category);
      console.log(+items_2[i].text)
      if(+items_2[i].text === +category){
        $('a[id*="categoria_producto"]:contains("'+items_2[i].text+'")').parent().show(1000);
      }else {
        $('a[id*="categoria_producto"]:contains("'+items_2[i].text+'")').parent().hide(1000);
      }
    }
  }*/

$(document).ready(function(){

  // AGREGANDO CLASE ACTIVE AL PRIMER ENLACE ====================
  $('.category_list .category_item[category="all"]').addClass('ct_item-active');

  // FILTRANDO PRODUCTOS  ============================================

  $('.category_item').click(function(){
    var catProduct = $(this).attr('category');

    // AGREGANDO CLASE ACTIVE AL ENLACE SELECCIONADO
    $('.category_item').removeClass('ct_item-active');
    $(this).addClass('ct_item-active');

    // OCULTANDO PRODUCTOS =========================
    function hideProduct(){
      $('.product-item').hide(1000);
    } setTimeout(hideProduct,400);

    // MOSTRANDO PRODUCTOS =========================
    function showProduct(){
      $('.product-item[category="'+catProduct+'"]').show(1000);
    } setTimeout(showProduct,400);
  });

  // MOSTRANDO TODOS LOS PRODUCTOS =======================

  $('.category_item[category="all"]').click(function(){
    function showAll(){
      $('.product-item').show(1000);
      valor();
    } setTimeout(showAll,400);
  });
});

/*
  $('#slider-range').click(() => {
    valor();
  });*/
</script>